.create-create {
  width: 1728px;
  height: 785.0001220703125px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.create-text {
  top: 111.00015258789062px;
  left: 100px;
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 48px;
}
.create-text02 {
  top: 103.00015258789062px;
  left: 223px;
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 100%;
}
.create-divider02 {
  top: 0.00015106657519936562px;
  left: 0px;
  width: 1728px;
  height: 0px;
  opacity: 0.20;
  position: absolute;
}
.create-create-image {
  top: 0.00015106657519936562px;
  left: 951px;
  width: 680px;
  height: 785px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.create-ellipse {
  top: 105px;
  left: 0px;
  width: 680px;
  height: 680px;
  position: absolute;
  border-color: rgba(160, 155, 168, 1);
  border-style: solid;
  border-width: 1px;
}
.create-image-bg {
  top: 135px;
  left: 30px;
  width: 620px;
  height: 620px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 34px 0px rgba(255, 255, 255, 0.20000000298023224) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 360px;
}
.create-rectangle12303 {
  top: -67px;
  left: -109px;
  width: 754px;
  height: 783px;
  position: absolute;
  border-color: transparent;
  border-radius: 40px;
}
.create-image16 {
  top: -79px;
  left: -195px;
  width: 1010px;
  height: 707px;
  position: absolute;
  border-color: transparent;
}
.create-untitled42 {
  top: -135px;
  left: -68px;
  width: 755px;
  height: 755px;
  position: absolute;
  border-color: transparent;
}
.create-rectangle12304 {
  top: 37.578125px;
  left: 16.9180908203125px;
  width: 587px;
  height: 813px;
  position: absolute;
  border-color: transparent;
}
.create-create-image1 {
  top: 0px;
  left: 45px;
  width: 589px;
  height: 710px;
  position: absolute;
  border-color: transparent;
}
.create-text04 {
  top: 531.0001220703125px;
  left: 229px;
  color: var(--dl-color-grey-white);
  width: 580px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 36px;
}
.create-star-bu-ildin-button {
  top: 671.000244140625px;
  left: 229px;
  width: 238px;
  height: 64px;
  display: flex;
  padding: 20px 44px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-grey-white);
}
.create-text06 {
  color: var(--dl-color-primary-black);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.create-text08 {
  top: 489.0001525878906px;
  left: 229px;
  color: var(--dl-color-grey-grey3);
  width: 625px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.create-root-class-name {
  top: 3173.999755859375px;
  left: 0px;
  position: absolute;
  margin-right: 0;
  margin-bottom: 0;
}
