.discover-discover {
  width: 1528px;
  height: 480px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.discover-rental-card {
  top: 0px;
  left: 0px;
  width: 754px;
  height: 480px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
}
.discover-group4501 {
  top: -221px;
  left: 133px;
  width: 655px;
  height: 584px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.discover-group4656 {
  top: 0px;
  left: 0px;
  width: 655px;
  height: 584px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.discover-ellipse222 {
  top: 0px;
  left: 71px;
  width: 584px;
  height: 584px;
  position: absolute;
  border-color: transparent;
}
.discover-ellipse221 {
  top: 61px;
  left: 0px;
  width: 478px;
  height: 478px;
  position: absolute;
  border-color: transparent;
}
.discover-ellipse223 {
  top: 122px;
  left: 99px;
  width: 417px;
  height: 417px;
  position: absolute;
  border-color: transparent;
}
.discover-image8 {
  top: 230.083984375px;
  left: 113.458984375px;
  width: 319px;
  height: 235px;
  position: absolute;
  border-color: transparent;
}
.discover-group4658 {
  top: 312px;
  left: 40px;
  width: 680px;
  height: 88px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.discover-text {
  color: var(--dl-color-grey-white);
  width: 680px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 44px;
  font-stretch: normal;
  text-decoration: none;
}
.discover-showlistings {
  top: 424px;
  left: 40px;
  width: 166px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.discover-text2 {
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  margin-right: 0;
  margin-bottom: 0;
}
.discover-team-branding-card {
  top: 0px;
  right: 0px;
  width: 754px;
  height: 480px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.discover-text4 {
  top: 312px;
  left: 40px;
  color: var(--dl-color-grey-white);
  width: 680px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 44px;
  font-stretch: normal;
  text-decoration: none;
}
.discover-showlistings1 {
  top: 424px;
  left: 40px;
  width: 166px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.discover-text6 {
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  margin-right: 0;
  margin-bottom: 0;
}
.discover-image30 {
  top: 25.076171875px;
  left: 203px;
  width: 318px;
  height: 270px;
  position: absolute;
  border-color: transparent;
}
.discover-root-class-name {
  top: 6599px;
  left: 100px;
  position: absolute;
}
