.faqs-section {
    width: 100%;
    left: 0;
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-width: 400px;
    position: relative;
    margin: auto;
    color: white;
    gap: 28px;
}

.section-container > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242129;
    border-radius: 76px;
    padding: 28px 38px 28px 56px;
}

