.f-qs-section-f-qs-section {
  width: 1528px;
  height: 1174px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.f-qs-section-group4655 {
  top: 0px;
  left: 0px;
  width: 1528px;
  height: 23.0000057220459px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.f-qs-section-group4515 {
  top: 0.000001005362719297409px;
  left: 0px;
  width: 23.000003814697266px;
  height: 23.000001907348633px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.f-qs-section-group4496 {
  top: 23.000001907348633px;
  left: 0.0000019073486328125px;
  width: 23px;
  height: 23.000001907348633px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.f-qs-section-rectangle12295 {
  top: -20px;
  left: 1.3113408670051285e-7px;
  width: 3px;
  height: 23px;
  position: absolute;
  border-color: transparent;
}
.f-qs-section-rectangle12296 {
  top: -2.62268258666154e-7px;
  left: 3.0000009536743164px;
  width: 3px;
  height: 23px;
  position: absolute;
  border-color: transparent;
}
.f-qs-section-group4497 {
  top: 3.000001907348633px;
  left: 23.000001907348633px;
  width: 3px;
  height: 23px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.f-qs-section-group4649 {
  top: 0.000001005362719297409px;
  left: 1528px;
  width: 23.000003814697266px;
  height: 23.000001907348633px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.f-qs-section-group44961 {
  top: 9.019868230097927e-7px;
  left: -23.000001907348633px;
  width: 23px;
  height: 23.000001907348633px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.f-qs-section-rectangle122951 {
  top: 0.0000010053618098027073px;
  left: 20px;
  width: 3px;
  height: 23px;
  position: absolute;
  border-color: transparent;
}
.f-qs-section-rectangle122961 {
  top: 3.0000009536743164px;
  left: 1.31134129333077e-7px;
  width: 3px;
  height: 23px;
  position: absolute;
  border-color: transparent;
}
.f-qs-section-group44971 {
  top: 23.00000177621405px;
  left: -3.00000291271067px;
  width: 3px;
  height: 23px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.f-qs-section-group4654 {
  top: 1151px;
  left: 0px;
  width: 1528px;
  height: 23.00000762939453px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.f-qs-section-group4652 {
  top: 23.0000057220459px;
  left: 1528px;
  width: 23.000003814697266px;
  height: 23.000001907348633px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.f-qs-section-group44962 {
  top: -23.000001907348633px;
  left: -0.0000039180727071652655px;
  width: 23px;
  height: 23.000001907348633px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.f-qs-section-rectangle122952 {
  top: 20px;
  left: 0.000001617321458979859px;
  width: 3px;
  height: 23px;
  position: absolute;
  border-color: transparent;
}
.f-qs-section-rectangle122962 {
  top: 5.24536517332308e-7px;
  left: -3.0000009536743164px;
  width: 3px;
  height: 23px;
  position: absolute;
  border-color: transparent;
}
.f-qs-section-group44972 {
  top: -2.999999896625013px;
  left: -23.00000216961712px;
  width: 3px;
  height: 23px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.f-qs-section-group4653 {
  top: 23.0000057220459px;
  left: 0.0000010053621508632204px;
  width: 23.000003814697266px;
  height: 23.000001907348633px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.f-qs-section-group44963 {
  top: -0.000002912711352109909px;
  left: 23.000001907348548px;
  width: 23px;
  height: 23.000001907348633px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.f-qs-section-rectangle122953 {
  top: 7.430935511365533e-7px;
  left: -20.000000000000043px;
  width: 3px;
  height: 23px;
  position: absolute;
  border-color: transparent;
}
.f-qs-section-rectangle122963 {
  top: -3.0000009536743164px;
  left: -3.934025585294876e-7px;
  width: 3px;
  height: 23px;
  position: absolute;
  border-color: transparent;
}
.f-qs-section-group44973 {
  top: -23.000002038483217px;
  left: 3.000000901986539px;
  width: 3px;
  height: 23px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.f-qs-section-frame4495 {
  top: 387px;
  left: 258px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.f-qs-section-f-qbutton {
  width: 1012px;
  height: 148px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 28px;
}
.f-qs-section-rectangle12259 {
  top: 0px;
  left: 0px;
  width: 1012px;
  height: 148px;
  position: absolute;
  border-color: transparent;
  border-radius: 76px;
}
.f-qs-section-dropdown {
  top: 38px;
  left: 902px;
  width: 72px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.f-qs-section-ellipse201 {
  top: 0px;
  left: 0px;
  width: 72px;
  height: 72px;
  opacity: 0.20;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
}
.f-qs-section-icchevronright24px1 {
  top: 18px;
  left: 54px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.f-qs-section-text {
  top: 61px;
  left: 56px;
  color: rgba(207, 205, 212, 1);
  width: 667px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-qs-section-text01 {
  color: var(--dl-color-grey-grey4);
  font-weight: 300;
}
.f-qs-section-text02 {
  font-weight: 500;
}
.f-qs-section-f-qbutton1 {
  width: 1012px;
  height: 148px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 28px;
}
.f-qs-section-rectangle122591 {
  top: 0px;
  left: 0px;
  width: 1012px;
  height: 148px;
  position: absolute;
  border-color: transparent;
  border-radius: 76px;
}
.f-qs-section-dropdown1 {
  top: 38px;
  left: 902px;
  width: 72px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.f-qs-section-ellipse2011 {
  top: 0px;
  left: 0px;
  width: 72px;
  height: 72px;
  opacity: 0.20;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
}
.f-qs-section-icchevronright24px11 {
  top: 18px;
  left: 54px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.f-qs-section-text04 {
  top: 61px;
  left: 56px;
  color: rgba(207, 205, 212, 1);
  width: 667px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-qs-section-text05 {
  color: var(--dl-color-grey-grey4);
  font-weight: 300;
}
.f-qs-section-text06 {
  font-weight: 500;
}
.f-qs-section-f-qbutton2 {
  width: 1012px;
  height: 148px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 28px;
}
.f-qs-section-rectangle122592 {
  top: 0px;
  left: 0px;
  width: 1012px;
  height: 148px;
  position: absolute;
  border-color: transparent;
  border-radius: 76px;
}
.f-qs-section-dropdown2 {
  top: 38px;
  left: 902px;
  width: 72px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.f-qs-section-ellipse2012 {
  top: 0px;
  left: 0px;
  width: 72px;
  height: 72px;
  opacity: 0.20;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
}
.f-qs-section-icchevronright24px12 {
  top: 18px;
  left: 54px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.f-qs-section-text08 {
  top: 61px;
  left: 56px;
  color: rgba(207, 205, 212, 1);
  width: 667px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-qs-section-text09 {
  color: var(--dl-color-grey-grey4);
  font-weight: 300;
}
.f-qs-section-f-qbutton3 {
  width: 1012px;
  height: 148px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.f-qs-section-rectangle122593 {
  top: 0px;
  left: 0px;
  width: 1012px;
  height: 148px;
  position: absolute;
  border-color: transparent;
  border-radius: 76px;
}
.f-qs-section-dropdown3 {
  top: 38px;
  left: 902px;
  width: 72px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.f-qs-section-ellipse2013 {
  top: 0px;
  left: 0px;
  width: 72px;
  height: 72px;
  opacity: 0.20;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
}
.f-qs-section-icchevronright24px13 {
  top: 18px;
  left: 54px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.f-qs-section-text11 {
  top: 61px;
  left: 56px;
  color: rgba(207, 205, 212, 1);
  width: 667px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-qs-section-text12 {
  color: var(--dl-color-grey-grey4);
  font-weight: 300;
}
.f-qs-section-text14 {
  top: 117px;
  left: 285px;
  color: var(--dl-color-grey-white);
  width: 958px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 110px;
}
.f-qs-section-text19 {
  top: 63px;
  left: 452px;
  color: var(--dl-color-grey-grey3);
  width: 625px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.f-qs-section-root-class-name {
  top: 7179px;
  left: 100px;
  position: absolute;
  margin-right: 0;
  margin-bottom: 0;
}
