.footercontent-footercontent {
  width: 1528px;
  height: 480px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.footercontent-resources {
  top: 16px;
  left: 903px;
  width: 150px;
  height: 320px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.footercontent-links {
  top: 52px;
  left: 0px;
  width: 150px;
  height: 268px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.footercontent-marketplace {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.footercontent-text {
  color: var(--dl-color-grey-white);
  width: 150px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
  margin-right: 0;
  margin-bottom: 0;
}
.footercontent-blog {
  top: 240px;
  left: 0px;
  width: 150px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.footercontent-text02 {
  color: var(--dl-color-grey-white);
  width: 150px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
  margin-right: 0;
  margin-bottom: 0;
}
.footercontent-dao {
  top: 192px;
  left: 0px;
  width: 150px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.footercontent-text04 {
  color: var(--dl-color-grey-white);
  width: 150px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
  margin-right: 0;
  margin-bottom: 0;
}
.footercontent-events {
  top: 144px;
  left: 0px;
  width: 150px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.footercontent-text06 {
  color: var(--dl-color-grey-white);
  width: 150px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
  margin-right: 0;
  margin-bottom: 0;
}
.footercontent-docs {
  top: 96px;
  left: 0px;
  width: 150px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.footercontent-text08 {
  color: var(--dl-color-grey-white);
  width: 150px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
  margin-right: 0;
  margin-bottom: 0;
}
.footercontent-builder {
  top: 48px;
  left: 0px;
  width: 150px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.footercontent-text10 {
  color: var(--dl-color-grey-white);
  width: 150px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
  margin-right: 0;
  margin-bottom: 0;
}
.footercontent-text12 {
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
}
.footercontent-connect {
  top: 16px;
  left: 1237px;
  width: 200px;
  height: 276px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.footercontent-text14 {
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
}
.footercontent-links1 {
  top: 52px;
  left: 0px;
  width: 200px;
  height: 224px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.footercontent-sendusanemail {
  top: 0px;
  left: 0px;
  width: 200px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.footercontent-text16 {
  color: var(--dl-color-grey-white);
  width: 200px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
  margin-right: 0;
  margin-bottom: 0;
}
.footercontent-github {
  top: 196px;
  left: 0px;
  width: 150px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.footercontent-text18 {
  color: var(--dl-color-grey-white);
  width: 150px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
  margin-right: 0;
  margin-bottom: 0;
}
.footercontent-twitter {
  top: 148px;
  left: 0px;
  width: 150px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.footercontent-text20 {
  color: var(--dl-color-grey-white);
  width: 150px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
  margin-right: 0;
  margin-bottom: 0;
}
.footercontent-reddit {
  top: 100px;
  left: 0px;
  width: 150px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.footercontent-text22 {
  color: var(--dl-color-grey-white);
  width: 150px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
  margin-right: 0;
  margin-bottom: 0;
}
.footercontent-discord {
  top: 48px;
  left: 0px;
  width: 150px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.footercontent-text24 {
  color: var(--dl-color-grey-white);
  width: 150px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
  margin-right: 0;
  margin-bottom: 0;
}
.footercontent-dc-email-section {
  top: 0px;
  left: 0px;
  width: 625px;
  height: 276px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.footercontent-svg {
  top: 8681px;
  left: 563px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.footercontent-rectangle42 {
  top: 212px;
  left: 1px;
  width: 496px;
  height: 64px;
  position: absolute;
  border-color: transparent;
  border-radius: 8px;
}
.footercontent-text26 {
  top: 234px;
  left: 27px;
  color: var(--dl-color-primary-black);
  width: 261px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.footercontent-d-lsmalllogo {
  top: 79px;
  left: 549px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.footercontent-text28 {
  color: rgba(255, 255, 255, 0.4000000059604645);
  width: 625px;
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 82px;
  font-stretch: normal;
  text-decoration: none;
}
.footercontent-legal-links {
  top: 462px;
  left: 0px;
  width: 1528px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.footercontent-privacy-policy {
  top: 2px;
  left: 908px;
  width: 105px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.footercontent-text31 {
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  margin-right: 0;
  margin-bottom: 0;
}
.footercontent-codeof-ethics {
  top: 2px;
  left: 1415px;
  width: 113px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.footercontent-text33 {
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  margin-right: 0;
  margin-bottom: 0;
}
.footercontent-content-policy {
  top: 2px;
  left: 1246px;
  width: 105px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.footercontent-text35 {
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  margin-right: 0;
  margin-bottom: 0;
}
.footercontent-termsof-use {
  top: 2px;
  left: 1077px;
  width: 105px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.footercontent-text37 {
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  margin-right: 0;
  margin-bottom: 0;
}
.footercontent-text39 {
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 16px;
}
