.influence-influence {
  width: 1728px;
  height: 786.0001220703125px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.influence-divider04 {
  top: 0.00015106657519936562px;
  left: 0px;
  width: 1728px;
  height: 0px;
  opacity: 0.20;
  position: absolute;
}
.influence-text {
  top: 108.00015258789062px;
  left: 100px;
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 48px;
}
.influence-text02 {
  top: 100.00015258789062px;
  left: 229px;
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 100%;
}
.influence-text04 {
  top: 420.0001220703125px;
  left: 229px;
  color: var(--dl-color-grey-white);
  width: 580px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 36px;
}
.influence-learnmoreabout-da-button {
  top: 668px;
  left: 229px;
  width: 238px;
  height: 64px;
  display: flex;
  padding: 20px 44px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-grey-white);
}
.influence-text06 {
  color: var(--dl-color-primary-black);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.influence-text08 {
  top: 378.0001220703125px;
  left: 229px;
  color: var(--dl-color-grey-grey3);
  width: 625px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.influence-influence-image {
  top: 43.000152587890625px;
  left: 846px;
  width: 803px;
  height: 743px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.influence-ellipse251 {
  top: 63px;
  left: 112px;
  width: 680px;
  height: 680px;
  position: absolute;
  border-color: rgba(160, 155, 168, 1);
  border-style: solid;
  border-width: 1px;
}
.influence-frame4514 {
  top: 93px;
  left: 142px;
  width: 620px;
  height: 620px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 34px 0px rgba(255, 255, 255, 0.20000000298023224) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 360px;
}
.influence-rectangle12303 {
  top: -67px;
  left: -109px;
  width: 754px;
  height: 783px;
  position: absolute;
  border-color: transparent;
  border-radius: 40px;
}
.influence-rectangle12304 {
  top: 585.8203125px;
  left: 812.4306640625px;
  width: 1056px;
  height: 1097px;
  position: absolute;
  border-color: transparent;
  border-radius: 40px;
}
.influence-rectangle12305 {
  top: -107.42178344726562px;
  left: -313.4034118652344px;
  width: 1005px;
  height: 1043px;
  position: absolute;
  border-color: transparent;
  border-radius: 40px;
}
.influence-ellipse253 {
  top: 241px;
  left: 181px;
  width: 600px;
  height: 469px;
  opacity: 0.50;
  position: absolute;
  border-color: transparent;
}
.influence-rectangle12236 {
  top: 56.3671875px;
  left: 72.6484375px;
  width: 486px;
  height: 677px;
  position: absolute;
  border-color: transparent;
}
.influence-untitled43 {
  top: -93px;
  left: -142px;
  width: 803px;
  height: 803px;
  position: absolute;
  border-color: transparent;
}
.influence-untitled44 {
  top: 0px;
  left: 0px;
  width: 803px;
  height: 323px;
  position: absolute;
  border-color: transparent;
}
.influence-root-class-name {
  top: 4906px;
  left: 0px;
  position: absolute;
  margin-right: 0;
  margin-bottom: 0;
}
