.sell-sell {
  width: 1728px;
  height: 780.4923095703125px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.sell-divider03 {
  top: 0.00015106657519936562px;
  left: 0px;
  width: 1728px;
  height: 0px;
  opacity: 0.20;
  position: absolute;
}
.sell-text {
  top: 108.00015258789062px;
  left: 100px;
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 48px;
}
.sell-text02 {
  top: 100.00015258789062px;
  left: 222px;
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 100%;
}
.sell-text04 {
  top: 458.0001220703125px;
  left: 229px;
  color: var(--dl-color-grey-white);
  width: 580px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 36px;
}
.sell-gotomarketplac-button {
  top: 670px;
  left: 229px;
  width: 238px;
  height: 64px;
  display: flex;
  padding: 20px 44px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-grey-white);
}
.sell-text06 {
  color: var(--dl-color-primary-black);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sell-text08 {
  top: 416.0001220703125px;
  left: 229px;
  color: var(--dl-color-grey-grey3);
  width: 625px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.sell-sell-image {
  top: 4.0001220703125px;
  left: 951px;
  width: 682px;
  height: 776.4921875px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.sell-image-bg {
  top: 122.4921875px;
  left: 30px;
  width: 620px;
  height: 620px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 34px 0px rgba(255, 255, 255, 0.20000000298023224) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 360px;
}
.sell-rectangle12303 {
  top: 851.796875px;
  left: 399.7421875px;
  width: 1056px;
  height: 1097px;
  position: absolute;
  border-color: transparent;
  border-radius: 40px;
}
.sell-ellipse251 {
  top: 94.4921875px;
  left: 0px;
  width: 682px;
  height: 682px;
  position: absolute;
  border-color: rgba(160, 155, 168, 1);
  border-style: solid;
  border-width: 1px;
}
.sell-sell-image1 {
  top: 0px;
  left: 3.14453125px;
  width: 588.5447998046875px;
  height: 774.1298828125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.sell-untitled32 {
  top: 36.1328125px;
  left: -37.14453125px;
  width: 770px;
  height: 770px;
  position: absolute;
  border-color: transparent;
}
.sell-root-class-name {
  top: 4040px;
  left: 0px;
  position: absolute;
  margin-right: 0;
  margin-bottom: 0;
}
