.trending-trending {
  width: 1728px;
  height: 626px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.trending-items {
  top: 125.99996948242188px;
  left: 0px;
  display: flex;
  padding: 0 100px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.trending-prod1 {
  width: 367px;
  height: 500px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 20px;
  border-radius: 20px;
  background-color: rgba(36, 33, 41, 1);
}
.trending-rectangle12347 {
  top: 0px;
  left: 0px;
  width: 368px;
  height: 318px;
  position: absolute;
  border-color: transparent;
}
.trending-ellipse202 {
  top: -10px;
  left: -16px;
  width: 314px;
  height: 313px;
  opacity: 0.40;
  position: absolute;
  border-color: transparent;
}
.trending-ellipse201 {
  top: 12px;
  left: 9px;
  width: 353px;
  height: 353px;
  opacity: 0.40;
  position: absolute;
  border-color: transparent;
}
.trending-text {
  top: 375px;
  left: 23.934782028198242px;
  width: 319.0654296875px;
  height: 58px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.trending-text01 {
  left: 194.0654296875px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: right;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.trending-text02 {
  color: var(--dl-color-grey-white);
}
.trending-group4619 {
  top: 34px;
  left: 0px;
  width: 51.065216064453125px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.trending-text04 {
  left: 28.065217971801758px;
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.trending-vector {
  top: 2px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.trending-text06 {
  top: 338px;
  left: 24px;
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.trending-frame4620 {
  top: 449px;
  left: 25px;
  width: 255px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.trending-frame1000000941 {
  height: 32px;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 6px;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-secondary-blue);
}
.trending-text08 {
  color: var(--dl-color-grey-white);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.trending-frame1000000942 {
  height: 32px;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 6px;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-grey-grey1);
}
.trending-text10 {
  color: var(--dl-color-grey-white);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.trending-frame1000000943 {
  height: 32px;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-grey-grey1);
}
.trending-text12 {
  color: var(--dl-color-grey-white);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.trending-text14 {
  top: 375px;
  left: 24px;
  color: var(--dl-color-grey-grey3);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.trending-image24 {
  top: 3px;
  left: 28px;
  width: 312px;
  height: 312px;
  position: absolute;
  border-color: transparent;
}
.trending-prod2 {
  width: 367px;
  height: 500px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 20px;
  border-radius: 20px;
  background-color: rgba(36, 33, 41, 1);
}
.trending-ellipse2021 {
  top: -15px;
  left: -31px;
  width: 315px;
  height: 315px;
  opacity: 0.40;
  position: absolute;
  border-color: transparent;
}
.trending-ellipse2011 {
  top: 23px;
  left: 23px;
  width: 319px;
  height: 319px;
  opacity: 0.40;
  position: absolute;
  border-color: transparent;
}
.trending-frame46201 {
  top: 449px;
  left: 25px;
  width: 254px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.trending-frame10000009411 {
  height: 32px;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 6px;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-full-purple);
}
.trending-text16 {
  color: var(--dl-color-grey-white);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.trending-frame10000009421 {
  height: 32px;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 6px;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-grey-grey1);
}
.trending-text18 {
  color: var(--dl-color-grey-white);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.trending-frame10000009431 {
  height: 32px;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-grey-grey1);
}
.trending-text20 {
  color: var(--dl-color-grey-white);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.trending-text22 {
  top: 375px;
  left: 24px;
  color: var(--dl-color-grey-grey3);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.trending-text24 {
  top: 338px;
  left: 24px;
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.trending-image21 {
  top: 53px;
  left: 77px;
  width: 204px;
  height: 204px;
  position: absolute;
  border-color: transparent;
}
.trending-group4618 {
  top: 375px;
  left: 23.934782028198242px;
  width: 319.0654296875px;
  height: 58px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.trending-text26 {
  left: 212.0654296875px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: right;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.trending-text27 {
  color: var(--dl-color-grey-white);
}
.trending-group46191 {
  top: 34px;
  left: 0px;
  width: 64.06521606445312px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.trending-text29 {
  left: 28.065217971801758px;
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.trending-vector1 {
  top: 2px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.trending-prod3 {
  width: 367px;
  height: 500px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 20px;
  border-radius: 20px;
  background-color: rgba(36, 33, 41, 1);
}
.trending-ellipse2022 {
  top: 0px;
  left: -10px;
  width: 330px;
  height: 330px;
  opacity: 0.40;
  position: absolute;
  border-color: transparent;
}
.trending-ellipse2012 {
  top: 0px;
  left: -26px;
  width: 362px;
  height: 362px;
  opacity: 0.40;
  position: absolute;
  border-color: transparent;
}
.trending-group46181 {
  top: 375px;
  left: 23.934782028198242px;
  width: 319.0654296875px;
  height: 58px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.trending-text31 {
  left: 222.0654296875px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: right;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.trending-text32 {
  font-weight: 500;
}
.trending-text33 {
  font-weight: 400;
}
.trending-text34 {
  color: var(--dl-color-grey-white);
}
.trending-group46192 {
  top: 34px;
  left: 0px;
  width: 53.0654296875px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.trending-text36 {
  left: 28.0654296875px;
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.trending-vector2 {
  top: 2px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.trending-frame46202 {
  top: 449px;
  left: 25px;
  width: 277px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.trending-frame10000009412 {
  height: 32px;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 6px;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-secondary-lavender);
}
.trending-text38 {
  color: var(--dl-color-grey-white);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.trending-frame10000009422 {
  height: 32px;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 6px;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-grey-grey1);
}
.trending-text40 {
  color: var(--dl-color-grey-white);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.trending-frame10000009432 {
  height: 32px;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-grey-grey1);
}
.trending-text42 {
  color: var(--dl-color-grey-white);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.trending-text44 {
  top: 375px;
  left: 24px;
  color: var(--dl-color-grey-grey3);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.trending-image25 {
  top: 38px;
  left: 60px;
  width: 242px;
  height: 242px;
  position: absolute;
  border-color: transparent;
}
.trending-text46 {
  top: 338px;
  left: 24px;
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.trending-prod4 {
  width: 367px;
  height: 500px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  background-color: rgba(36, 33, 41, 1);
}
.trending-text48 {
  top: 338px;
  left: 24px;
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.trending-ellipse2023 {
  top: 3px;
  left: -14px;
  width: 316px;
  height: 316px;
  opacity: 0.20;
  position: absolute;
  border-color: transparent;
}
.trending-ellipse2013 {
  top: 28px;
  left: -3px;
  width: 346px;
  height: 347px;
  opacity: 0.20;
  position: absolute;
  border-color: transparent;
}
.trending-frame46203 {
  top: 449px;
  left: 25px;
  width: 243px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.trending-frame10000009413 {
  height: 32px;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 6px;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-secondary-green);
}
.trending-text50 {
  color: var(--dl-color-grey-white);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.trending-frame10000009423 {
  height: 32px;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 6px;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-grey-grey1);
}
.trending-text52 {
  color: var(--dl-color-grey-white);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.trending-frame10000009433 {
  height: 32px;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-grey-grey1);
}
.trending-text54 {
  color: var(--dl-color-grey-white);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.trending-text56 {
  top: 375px;
  left: 24px;
  color: var(--dl-color-grey-grey3);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.trending-group46182 {
  top: 375px;
  left: 23.9345703125px;
  width: 319.0654296875px;
  height: 58px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.trending-text58 {
  left: 222.0654296875px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: right;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.trending-text59 {
  font-weight: 500;
}
.trending-text60 {
  font-weight: 400;
}
.trending-text61 {
  color: var(--dl-color-grey-white);
}
.trending-group46193 {
  top: 34px;
  left: 0px;
  width: 51.0654296875px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.trending-text63 {
  left: 28.0654296875px;
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.trending-vector3 {
  top: 2px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.trending-image26 {
  top: 24px;
  left: 47px;
  width: 269px;
  height: 269px;
  position: absolute;
  border-color: transparent;
}
.trending-text65 {
  left: 104px;
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 82px;
}
.trending-right {
  top: 86px;
  left: 1556px;
  width: 72px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.trending-ellipse2014 {
  top: 0px;
  left: 0px;
  width: 72px;
  height: 72px;
  position: absolute;
  border-color: rgba(113, 107, 124, 1);
  border-style: solid;
  border-width: 2px;
}
.trending-icchevronright24px1 {
  top: 18px;
  left: 54px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.trending-left {
  top: 14px;
  left: 1547px;
  width: 72px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.trending-ellipse2015 {
  top: 0px;
  left: 0px;
  width: 72px;
  height: 72px;
  position: absolute;
  border-color: rgba(113, 107, 124, 1);
  border-style: solid;
  border-width: 2px;
}
.trending-icchevronright24px11 {
  top: 18px;
  left: 54px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.trending-gotomarketplace {
  top: 42px;
  left: 1281px;
  width: 166px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.trending-text67 {
  color: var(--dl-color-grey-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  margin-right: 0;
  margin-bottom: 0;
}
.trending-root-class-name {
  top: 5893px;
  left: 0px;
  position: absolute;
  margin-right: 0;
  margin-bottom: 0;
}
